<header>
  <%= render "_top_nav_menu.html", assigns %>
</header>
<main role="main" class="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

    <div class="columns">
      <div class="column is-one-quarter">
        <%= render "_admin_menu.html", assigns %>
      </div>
      <div class="column">
        <%= @inner_content %>
      </div>
    </div>

</main>
