<h2 class="is-size-2">Testing your Redirect</h2>

<div class="box">
  <h4 class="is-size-4">General Explanation</h4>
  <p>
  	Once a User has successfully authenticated with either HubIdentity or an Open Authentication Provider (such as Google or Facebook) a redirect back to your application will be sent to the user.
  </p>
  <p>
  	The redirect will be created from the URL specificed in your applications settings. (and shown below)
  </p>
  <p>
  	The redirect will contain an <span class="has-text-success">User Token</span> inside the request.  The <span class="has-text-success">User Token</span> can be used along with your <span class="has-text-danger">Private API Key</span> to obtain the users information through our API.
  </p>

  <br/>
  
  <div class="card">
    <div class="card-header has-background-link-light">
      <h5 class="card-header-title">Test</h5>
    </div>
    <div class="card-content">
      <div class="content">
        <h6 class="is-size-6">Redirect URL:</h6>
        <p><%= @client_service.redirect_url %></p>
        <p>Generate a sample User Token and attach them to a redirect to your application</p>
        <%= link "Generate", to: Routes.client_service_test_path(@conn, :generate_redirect, @client_service), class: "btn btn-primary",  target: "_blank" %>
      </div>
    </div>
  </div>
</div>